@import "_normalize.scss";
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);
@import url(http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

$theme-color: #0b0b29;
$accent-color: #64e264;
$accent-color-2: #572662;
$warn-color: tomato;

body {
  background: linear-gradient(to bottom, $theme-color, $accent-color-2);
  font: {
    family: "Robot", sans-serif;
    size: 1.1rem;
  }
  &, html {
    height: 100%;
  }
}

* {
  border: 0px solid transparent; 
  &:focus {
    outline: 1px solid #5bfa5b;
  }
}

h1 {
  text-align: center;
}

label {
  border-bottom: 1px solid grey;
  margin-right: .5rem;
}

.container {
  background: #eeeefa;
  border-top: .5rem solid #64e264;
  overflow: hidden;
  margin: 0 auto;
  max-width: 45rem;
  padding: 2.5rem {
    top: 1rem;
  }
  position: relative;
  top: 25vh;
}
select {
  width: 11.75rem;
}
input, textarea, border-radius, select {
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-top: 1rem;
}
textarea {
  background: {
    color: #fff;
    image: linear-gradient(#eee .1em, transparent .1em);
    size: 100% 1.25em;
  }
  font-size: 1.25rem;
  height: 10rem;
  width: 100%;
}

select, input, button {
  padding: .5rem;
}
button {
  background: $accent-color;
  color: white;
  margin-left: .5rem;
  transition: all 300ms ease-in;
  &.remove {
    background: tomato;
    &:hover {
      background: darken($warn-color, 10%);
    }
  }
  &:hover {
    background: darken($accent-color, 10%);
    cursor: pointer;
  }
}

.saved-notification {
  background: $accent-color;
  border-radius: 4px;
  bottom: 1.5rem;
  color: white;
  left: calc(50% - 5rem);
  opacity: 1;
  padding: .5rem;
  position: absolute;
  text-align: center;
  transition: all 700ms ease-in;
  width: 10rem;
  &.unsaved {
    bottom: -5rem;
    opacity: 0;
    transition: all 300ms ease-in;
  }
}
